In [32]:
# This box is called Cell 
# If it is in Green, it means it is code / active
# Blue means Markdown Cell ( no code only text )

Programming Fundamentals Using Python

In [5]:
# Printing String

print("Hello World")

Hello World

In [7]:
# Printing Numbers

print(123)

123

In [8]:
# Printing Decimal Numbers 

print(123.4123)

123.4123

In [9]:
# The Display is called "Consoled Display"

Value Includes 

    * String ( Any Text ) 
    * Numbers ( Any Numbers )
        - Whole Number ( int )
        - Decimal ( float )
        - Integars ( int ) 
    * Boolean ( True , False )

In [10]:
# Comma is a value Separator

print( "Python", "Haroon", 100, True, 3.12)

Python Haroon 100 True 3.12

In [12]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

 sep = ' ' is an argument inside print() 
it separates the values based on what you write on inside inverted commas "" or single commas ''
sep = '' means values will be printed without any space.

In [15]:
print("h", "a", "r", "o", sep="*")

h*a*r*o

In [22]:
# end = "\n" is an escape character 
# end = "\t" is for 3 spaces
print("haroon", end = "\n")
print("zafar")

haroon		zafar

In [23]:
print("haroon", end = "\t\t")
print("zafar")

haroon		zafar

In [26]:
def abc(a):
    '''This is an abc function'''
    return a

# shift and tab inside a function gives you it's docstring / documentation 
abc(1)

1

In [28]:
#  ? does also the same i.e to display docstring
# print?

In [31]:
# \n is used to change line
print("This is DataScience \n and Artificial Intelligence Batch # 04")

This is DataScience
 and Artificial Intelligence Batch # 04

Difference between Strings

In [32]:
'Pakistan', "Pakistan", '''Pakistan'''

('Pakistan', 'Pakistan', 'Pakistan')

How can we write Commas inside Inverted Commas inside print function

In [33]:
print("This is 'AI and DS' Batch 4")

This is 'AI and DS' Batch 4

What if we want to write Double Inverted Commas inside Double Inverted Commas in a print()

In [38]:
# USE ESCAPE SEQUENCE 
# Use Backward Slash
print("This is \"AI and DS\" Batch 4")

This is "AI and DS" Batch 4

We want ot print something like this

                Saylani Mass IT Training
           Name : Nasir Hussain
           Class : AI & DS 
           Batch : 4 
           Campus : Bahadurabad Campus

In [39]:
# MULTI-QUOTE 
# USE TRIPPLE COMMAS '''textInside'''

print("""
                        Saylani Mass IT Training
           Name : Nasir Hussain
           Class : AI & DS 
           Batch : 4 
           Campus : Bahadurabad Campus 
        
        """)

                        Saylani Mass IT Training
           Name : Nasir Hussain
           Class : AI & DS
           Batch : 4
           Campus : Bahadurabad Campus

In [40]:
print("Pakistan\\")

Pakistan\


Variables

In [267]:
country = "Pakistan"
# id returns the Memory Location/Identity of an Object. 
id(country)

2187771086192

In [268]:
# Comments

# Comments are line which aren't readable by Compiler/Interpreter. 

# A notebook can show ( not print ) the value of a variable.

In [271]:
print(country) # Pakistan 
country # 'Pakistan'

Pakistan

'Pakistan'

In [272]:
marks = 90

In [273]:
feesPaid = True

In [274]:
name = "Haroon"

In [275]:
weightKG = 100

In [276]:
heightFT = 6

VARIABLE CONVENTION

OPERATORS

    - Arithmetic Operators
    - Logical Operators 
    - Conditional Operators

In [282]:
# Artihmetic Operators 
# + - * /  (Basic Arithmetic Operators) 
# / Floating Division
# % Remainder 
# // Quotient

In [281]:
# Remainder % (Modulo Opeator) 

print(4%2)
print(4%3)
print(3%4)

0
1
3

In [288]:
# Quotient (Int Division)

print(20//3)

6

In [295]:
# Logical Operators 
# < , > , <= , >= , == , !=
print(3>2)

True

In [294]:
print(20!=20)

False

Concatenation + in String

In [1]:
"Haroon" + "Zafar"

'HaroonZafar'

Concatenation with number and string

In [10]:
str ( 1 + 2 ) + "Haroon"

'3Haroon'

In [12]:
name = "Haroon"
age = 20

print(f"My Name is {name}")

My Name is Haroon

In [20]:
# Dynamic Declaration

print("My Name is {}. My Age is {}".format(name, age))

My Name is Haroon. My Age is 20

In [21]:
# This is done due to the future error which will rise because of int and str type of age and name respectively
# This can be cured with above solution and you do not have to change the type 
type(age)

int

In [22]:
type(name)

str

In [24]:
# "My name is " + name + "and my age is " + age  # It's gonna produce >> TypeError

In [26]:
# You can not change age 23 to 24 if dynamically not changed i.e 
# so follow this "My Name is {}. My Age is {}".format(name, age)

In [30]:
print(f"My Name is {name}. My Age is {age}")

My Name is Haroon. My Age is 20

In [31]:
f'My name is {name} and my age is {age}'

'My name is Haroon and my age is 20'